knob, .knob {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    /* background-color: #11111111; */
    margin: 2px;
}

knov > * {
    padding: 10px;
    flex: 1 100%;
}

knobPlate {
    flex: 1 1 0%;
    margin: auto;
    top: 50%;
    border-radius: 50%;
    width: 6.5vw;
    height: 6.5vw;
    background: linear-gradient(#474747, #616161);
}

knobRotary {
    position: absolute;
    width: 6vw;
    height: 6vw;
    margin: .25vw;
    transition: transform 0.1s ease-out 0.1s;
    will-change: transform;
    border-radius: 50%;
    background: linear-gradient(90deg, #d4cfc3 10%, #a49981 40.8%, #cfc9bc 42%, #cfc9bc 58%, #ffffff 59.2%, #d4cfc3 90%);
    box-shadow: 0 0.1em 0.2em 0 rgba(255, 255, 255, 0.9) inset, 0 -0.1em 0.3em 0 rgba(255, 255, 255, 0.3) inset, 0 0.08em 0.3em 0 rgba(0, 0, 17, 0.3), 0.5em 0 1em 0 rgba(255, 255, 255, 0.5) inset, -0.5em 0 1em 0 rgba(164, 153, 129, 0.3) inset, 0 4em 1em -3.5em rgba(0, 0, 34, 0.3);
}

knobRotary.yellow {
    background: linear-gradient(90deg, #dbd413 10%, #716e0a 40.8%, #cfc912 42%, #cfc912 58%, #f2ed65 59.2%, #dbd413 90%);
    box-shadow: 0 0.1em 0.2em 0 rgba(242, 237, 101, 0.9) inset, 0 -0.1em 0.3em 0 rgba(242, 237, 101, 0.3) inset, 0 0.08em 0.3em 0 rgba(0, 0, 17, 0.3), 0.5em 0 1em 0 rgba(242, 237, 101, 0.5) inset, -0.5em 0 1em 0 rgba(113, 110, 10, 0.3) inset, 0 4em 1em -3.5em rgba(0, 0, 34, 0.3);
}

knobRotary.grey {
    background: linear-gradient(90deg, #757575 10%, #3c3c3c 40.8%, #6f6f6f 42%, #6f6f6f 58%, #aaaaaa 59.2%, #757575 90%);
    box-shadow: 0 0.1em 0.2em 0 rgba(170, 170, 170, 0.9) inset, 0 -0.1em 0.3em 0 rgba(170, 170, 170, 0.3) inset, 0 0.08em 0.3em 0 rgba(0, 0, 17, 0.3), 0.5em 0 1em 0 rgba(170, 170, 170, 0.5) inset, -0.5em 0 1em 0 rgba(60, 60, 60, 0.3) inset, 0 4em 1em -3.5em rgba(0, 0, 34, 0.3);
}

knobRotary::before {
    position: absolute;
    content: "";
    left: 2.83vw;
    width: 0.3vw;
    height: 1.7vw;
    border-radius: 0 0 0.2vw 0.2vw;
    background: #b44;
    box-shadow: -0.05vw 0 0.1vw 0 rgba(0, 0, 0, 0.4) inset;
}

knobRotary.grey::before {
    background: #ddd;
}

knobRotary:hover {
    transform: scale(1.05);
}

label {
    flex: 1 1 0%;
    text-align: center;
    font-size: 1.8vw;
    color: #aaa;
}